body{
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
}

.login-screen{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.credentials{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
}

.credentials input{
  width: 260px;
  height: 54px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-bottom: 15px;
}

.credentials input::placeholder{
  color: #aeaeae;
  opacity: 1;
  text-align: center;
}

.credentials button{
  border-radius: 9px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  width: 109px;
  height: 45px;
  color: #696969;
}

.credentials img{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -186px);
}

.chat-header,
.chat-footer{
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.chat-header [name="people"],
.chat-footer [name="paper-plane-outline"]{
  font-size: 42px;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
}

.chat-header {
  top: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  padding-left: 22px;
  padding-right: 22px;
}

.chat-header img{
  cursor: pointer;
}

.chat-footer{
  bottom: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
  padding-left: 17px;
  padding-right: 18px;
}

.message-container{
  flex-grow: 1;
}

.message-container p{
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.chat-footer input{
  font-size: 18px;
  line-height: 21px;
  width: calc(100% - 15px);
  border: none;
  color: black;
  margin-right: 15px;
  height: 42px;
}

.chat-footer input::placeholder{
  font-style: italic;
  color: black;
  opacity: 1;
}

.chat-footer input:focus-visible{
  outline:1px solid rgba(0, 0, 0, 0.1);
}